html{
	min-height: 100%;
}
body{
	margin: 0;
	padding: 0;
	/*background: #000;*/
	background: linear-gradient(45deg, black, grey);
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
}
h1{
	color: #fff;
	height: 200px;
    line-height: 200px;
}
img{
	width: 40%;
}
.container{
	height:  100%;
}
.btn{
	width: 200px;
	height: 60px;
	text-align: center;
	color: #0d0d0d;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #009688, #F2E1AC, #F2836B, #ece39c, #fcf3a8, #009688);
	background-size: 400%;
	border-radius: 30px;
	border: none;
}
.btn:hover{
	animation: animate 8s linear infinite;
	cursor: pointer;
}
@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}
